{% extends 'blog_app/base.html' %}

{% block menu %}
    <a class="p-2 text-muted" href="{% url 'get_item_all' %}">ALL ARTICLES</a>
         {% for el in menu %}
              <a class="p-2 text-muted" href="{% url 'get_item_category' el.id %}">{{ el.short_name }}</a>
          {% endfor %}
    <a class="p-2 text-muted" href="{% url 'contact' %}">CONTACTS</a>
{% endblock %}

{% block title %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">
            {{ data.title }}
    </h3>
{% endblock %}

{% block content %}
    <div class="blog-post">
      <p class="blog-post-meta">{{ data.date }} by <a href="#">{{ data.user }}</a></p>
      <img src="{{ data.image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
      <p class="blog-post-meta">{{ data.summary }} Edited {{ data.edit_count }} </p>
      <p>{{ data.text }}</p>
      <p>AVG MARK: {{ data.mark_avg }}</p>
      <p>COUNT of MARKS: {{ data.mark_count }}</p>

        {% if request.user.is_authenticated%}
        <div style="display: inline-block">
        <form method="POST" action="{% url 'like' data.id %}">
                {% csrf_token %}
                {{ form }}
                 <button class="btn btn-primary my-4" type="submit">Like</button>
            </form>
        </div>
        <div style="display: inline-block">
           <form method="POST" action="{% url 'unlike' data.id %}">
                {% csrf_token %}
                 <button class="btn btn-primary my-4" type="submit">Unlike</button>
            </form>
        </div>
        <div style="display: inline-block">
            <form method="POST" action="{% url 'dislike' data.id %}">
                {% csrf_token %}
                 <button class="btn btn-primary my-4" type="submit">Dislike</button>
            </form>
            </div>
        {% endif %}

        {% if data.user == request.user %}
            <p><a href="{% url 'update_item' data.id %}">edit >>></a>&nbsp;<a href="{% url 'delete_item' data.id %}">delete >>></a></p>
        {% endif %}
      <hr>
  </div><!-- /.blog-post -->
{% endblock %}
